{% extends 'base.html.twig' %}

{% block title %}New Diy{% endblock %}

{% block body %}
    <h1>Create new Diy</h1>

    {{ include('diy/_form.html.twig') }}

    <a href="{{ path('app_diy_index') }}">back to list</a>
{% endblock %}
