{{ form_start(form) }}
    {{ form_widget(form.commentaire, {'attr': {'class': 'votre-classe-titre'}}) }}
        <button class="btn">{{ button_label|default('Save') }}</button>            
{{ form_end(form) }}